.form-container{
    width:auto;
    margin: 0 auto;
    font-size: .14rem;
    padding: 0 .2rem 0;
    h3{
        margin: .1rem 0;
        font-size: .1rem;
        line-height: 2em;
    }
    form{
        background: #FFF;
        display: block;
        padding: .1rem .2rem 0;
        //border: 1px solid #e7ebef;
        @include border(1px,#e7ebef,solid,null);
        .form-ctrl{
            position: relative;
            padding:.1rem 0;
            //border-bottom: 1px solid #e7ebef;
            @include border(0 0 1px 0,#e7ebef,solid,null);
            input{
                font-size: .875rem;
                width: 100%;
                background: #FFF;
                outline: none;
                border: none;
                vertical-align: middle;
            }
        }
        .btn-submit{
            padding: .5em 0;
            display: block;
            width: 100%;
            background: #fd7f24;
            color: #FFF;
            text-align: center;
            font-size: 16px;
            outline: none;
            border: none;
            margin-top: .1rem;
            border-radius: 3px;
            cursor: pointer;
        } 
    }
    
}