#root {
  height: 100%;
}

@font-face {
  font-family: 'yofont';
  src: url('/iconfonts/iconfont.eot');
  src: url('/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/iconfonts/iconfont.woff') format('woff'),
  url('/iconfonts/iconfont.ttf') format('truetype'),
  url('/iconfonts/iconfont.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'yofont';
  src: url('/iconfonts/iconfont1.eot');
  src: url('/iconfonts/iconfont1.eot?#iefix') format('embedded-opentype'),
  url('/iconfonts/iconfont1.woff') format('woff'),
  url('/iconfonts/iconfont1.ttf') format('truetype'),
  url('/iconfonts/iconfont1.svg#iconfont') format('svg');
}

.home-container {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);

  header {
    width: 100%;
    height: .48rem;
    background: linear-gradient(
      rgba(209, 207, 207, 1), 
      rgba(209, 207, 207,0.2));
    background: -webkit-linear-gradient(
      rgba(209, 207, 207, 1), 
      rgba(209, 207, 207,0.2));
      background: -moz-linear-gradient(
        rgba(209, 207, 207, 1), 
        rgba(209, 207, 207,0.2));
    color: #fff;
    font-size: .18rem;
    line-height: .48rem;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  main {
    @include flex()
  }
  footer {
    height: .5rem;
    background: #f6f6f6;
    background: #fff;
    // border-top: solid 1px #ccc;
    @include border(1px 0 0 0);
    ul {
      height: 100%;
      @include flexbox();
      li {
        @include flex();
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        font-size: .24rem;
        color: #999;
        > div {
          @include flexbox();
          b {
            font-weight: 100;
            font-size: .16rem;
          }
        }
        
        &.active {
          color: #78aaf0;
        }
      }
    }
  }
}