.profile_main{
    position: relative;
    background: #efeff4;
}
.profile_mine{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    box-pack: center;
    box-align: center;
    background:url(https://cdn.kuaidi100.com/images/m/ucenter_bg.png?version=5) top center no-repeat #3278e6;
    background-size: 100% auto;
    padding: 0.32rem 0.16rem;
    color: #fff;
    .profile_avatar{
        width: 0.38rem;
        height: 0.38rem;
        border-radius: 50%;
        border: 1px solid #efeff4;
        background-size: 100%;
        margin-right: 0.16rem;
        background-color: rgba(255,240,240,.3);
    }
    .profile_infos{
        box-flex: 1;
    }
    p{
        width: 2.7rem;
        span{
            font-size: 12px;
        }
    }
    &:after{
        display:block;
        box-sizing: border-box;
        width: 0.12rem;
        height: 0.12rem;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        content: '';
        border-radius: 3px;
        transform: rotate(45deg);
    }
}
.profile_menu-list{
    ul{
        background: #fff;
        margin-top: .1rem;
    }
    li{
        -webkit-box-flex: 1;
        color: #333;
        display: -webkit-box;
        -webkit-box-align: center;
        padding-left: 0.16em;
        font-size: 0.14rem;
        .profile_ico{
            position: relative;
            width: 0.2rem;
            height: 0.2rem;
            margin-right: 0.16rem;
            background-image: url(https://cdn.kuaidi100.com/images/m/icons/ucenter.png?version=5);
            background-size: 18px auto;
            background-repeat: no-repeat;
            &.profile_point{
                background-position: 0 1px;
            }
            &:after{
                position: absolute;
                right: -5px;
                top: 0;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: red;
                content: '';
            }
        }
        .profile_line{
            display: -webkit-box;
            padding: 0.16em 0.16em 0.16em 0;
            border-bottom: 1px solid #efeff4;
            -webkit-box-flex: 1;
            -webkit-box-align: center;
            div{
                &:first-child{
                    -webkit-box-flex: 1;
                }
            }
            &:after{
                display: block;
                width: 5px;
                height: 5px;
                border-top: 2px solid #ddd;
                border-right: 2px solid #ddd;
                content: '';
                margin-left: 5px;
                transform: rotate(45deg);
                border-radius: 2px;
            }
        }
    }
    .profile_place{
        color: #aaa;
    }
}