.home-container {
    main {
.loading{
     margin: 0!important;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 60;    background: rgba(0,0,0,0.6);
        .loading-box {
            @include flexbox();@include flex-direction(column);@include align(center);
            width:1.4rem;height:1.6rem;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);margin: 0!important;padding: 1rem;min-width: 6rem;min-height: 6rem;max-width: 8rem;text-align: center;font-size: .875rem;background-color: #fff;border-radius: .05rem;color: #618cc4;min-width: 0;min-height:0;padding:.16rem;
            p{font-size: .16rem;color: #618cc4;text-align:center;
                img{width:.6rem;}
            }
        }
    }
.detail-header{
    .detail-tit {
        height: .4rem;       
        border-bottom: 1px solid #efeff4;
        background: #fff;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);

        >div:nth-child(3) {
            font-size: .26rem;
            width: .4rem;
            height: .21rem;
            line-height: .21rem;
            padding-right: .16rem;
            color: #ccc;
        }
        >div:nth-child(2) {
            font-size: .16rem;
            width: 2.92rem;
            text-align: center;
            color: #333;
        }
        >div:nth-child(1) {
            font-size: .2rem;
            @include flex();
            text-align: center;
            color: #ccc;

        }
        }
    
}
.container{
    background: #efeff4;overflow-y: scroll;height:100%;
    .main{
        height: auto;padding:0 .1rem;
        .mt10{
            >div{margin-top:.1rem;@include border-radius(3px);background: #fff;padding:0 .14rem;}
            .detail-wrap{
                @include flexbox();@include flex-direction(row); @include justify-content(space-between);@include align-items(center);padding:.16rem .14rem;
                .avatar{
                    .img{display: block;width:.5rem;height: .5rem;@include border(1px,#ccc,solid,50%);background-size: cover;background-image: url(https://cdn.kuaidi100.com/images/wxapp/kuaidi100/icoKuaidi100Courier_2.png);}
                    p{text-align: center;}
                    .star{color:#ff8901;}
                    span{background: #fff;color:black;}
                }
               
                div:nth-child(2){margin:0 .16rem 0 .08rem;}
                .detail-info{
                    h4{font-size: .16rem;}
                    p{font-size: .12rem;}
                    .tags{
                        span:nth-child(1){@include border(1px,#ff8901,solid,5px);color:#ff8901;padding:.02rem .04rem; }
                        span:nth-child(2){@include border(1px,#c0c0c0,solid,5px);color:#c0c0c0;background: #fff;padding:.02rem .04rem;  }

                    }
                }
                a{font-size: .18rem;color: #ccc;}
            }
            .go-login{color:#3278e6;line-height: .32rem;font-size: .14rem;}
            .form{
                div{height: .72rem;}
                .send,.contacts{
                    @include flexbox();@include align-items(center);@include flex-direction(row);
                    i{display:inline-block;background:url(https://cdn.kuaidi100.com/images/smart/order/order_icon.png);height: .32rem;width:.32rem;background-size: cover;}
                    .book{height: .56rem;width:100%;@include border(0 0 1px,#c0c0c0,solid);
                        input{line-height: .56rem;text-indent: .05rem;border:none;}
                    }
                }
                .rec{
                   
                    i{background-position-y: -.28rem;}
                }
            }
            .arrow{
                 @include flexbox();@include align-items(center);@include flex-direction(column);
                 .com-title{line-height: .4rem;}
                 .com-show{
                     @include flexbox();@include flex-direction(row);
                     span{width:.22rem;height:.22rem;display:block;background-size: cover;margin:0 .1rem .1rem;@include border-radius(50%)}
                 }
            }
            .info,.phone{line-height: .4rem;
                input{border:none;}
            }
            .order{height: .48rem;background: #ff8901;text-align: center;
                a{color:#fff;font-size: .16rem;line-height: .48rem;}
            }
        }
    }
}

.pop-box{//display: none;
    margin-top: 0;padding:0 .1rem;z-index: 1111;position: fixed;top: 0; bottom: 0;left: 0; width: 100%;padding-bottom: 3.5rem;overflow-y: scroll;background-color: #efeff4;
    >div{margin-top:.1rem;@include border-radius(3px);background: #fff;padding:0 .14rem;}
    .comment-list li { background: #FFF;margin-top: 6px; padding-left: 10px;}
}

}}