.home-container {
    main {
.send-container{
    height: 100%;background: #efeff4;
    @include flexbox();
    @include flex-direction(column);

    .loading{
     margin: 0!important;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 60;    background: rgba(0,0,0,0.6);
        .loading-box {
            width:1.4rem;height:1.6rem;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);margin: 0!important;padding: 1rem;min-width: 6rem;min-height: 6rem;max-width: 8rem;text-align: center;font-size: .875rem;background-color: #fff;border-radius: .05rem;color: #618cc4;min-width: 0;min-height:0;padding:.16rem;
            p{font-size: .16rem;color: #618cc4;
                img{width:.6rem;}
            }
        }
    }
    nav{
        height:.46rem;
        font-size: .16rem;
        text-align: center;
        background: #fff;
        border-radius: 3px;
        margin: .13rem .13rem 0;
        line-height: 2em;
        white-space: nowrap;
        overflow: hidden;  
        padding: 0 1em; 
        text-overflow: ellipsis; 
        
    } 
    #ul{
        // @include flexbox();
        // @include flex-direction(column);
        overflow-y: scroll;
        li{
            height: 1.65rem;border-radius: .05rem;color:#fff;margin:.14rem;background-position:right;
            
            .left{
                width:66%;padding-left:.15rem;padding-top:.14rem;
                div{width:100%;}
                .name{margin:.30rem 0 .20rem 0;font-size:.16rem; }
               img{
                display: inline-block;height: .22rem;width:.22rem;border-radius: 50%;margin-right: .05rem;
               } 
               >div:nth-child(3){font-size: .14rem;color: #fff;line-height: .2rem;}
               span{float: left;@include border(1px,#fff,solid,5px);margin:0 .05rem 0 0 !important;line-height:.16rem !important; padding:0 .08rem;}
            }
            .right{
                width:34%;padding-top:.14rem;//@include align(center);@include flexbox();@include flex-direction(row);
                img{width:.6rem;height:.6rem;border-radius: 50%;margin-bottom: .12rem;}
                p{line-height:.18rem; font-size: .12rem;color:#fff;}
            }

        }
        
    } 
}    
    }} 