<form action="">
    <div class="form-ctrl">
        <input type="text" placeholder="请输入手机号/邮箱" name="name" id="name" autocomplete="name" value="">
    </div>
    <div class="form-ctrl">
        <input type="password" placeholder="请输入验证码" name="password" id="password" value=""><span class="vcode">验证码</span>
    </div>
    <div class="form-ctrl">
            <input type="password" placeholder="请输入不少于六位密码" name="password" id="password" value="">
    </div>   
</form>
<button class="btn-submit" id="submit" role="account">注册</button>
<div class="agreement">
    <i></i>我已阅读并同意
    <a href="##" target="_blank">《注册协议》</a>
    和<a href="##" target="_blank">《隐私条例》</a>
</div>
<div class="type" id="type">
        <a role="login" class="fr" id="goLogin">已有账号，去登录</a>
</div>

