<div class="home-container">
  <main></main>
  <footer>
    <ul>
      <li class="active">
        <div>
          <i class="yo-ico">&#xe65c;</i>
        </div>
        <div>
          <b>查快递</b>
        </div>
      </li>
      <li>
        <div>
          <i class="yo-ico">&#xe671;</i>
        </div>
        <div>
          <b>寄快递</b>
        </div>
      </li>
      <li>
        <div>
          <i class="yo-ico">&#xe729;</i>
        </div>
        <div>
          <b>更多</b>
        </div>
      </li>
      <li>
        <div>
          <i class="yo-ico">&#xe7d5;</i>
        </div>
        <div>
          <b>我的</b>
        </div>
      </li>
    </ul>
  </footer>
</div>