<div class="inquire-page">
  <h1>
    <img src="/images/logo_v4_sso.png" alt="">
  </h1>
  <div class="inq-expressnum">
    <div>
      <input type="text" placeholder="请输入快递单号">
      <div class="scan"></div>
    </div>
    <div>
      <span>
        <i class="yo-ico">&#xe65c;</i>
      </span>
    </div>
  </div>
  <section class="inq-four">
    <ul>
      <li class="inq-sendexpress">
        <div class="inq-sendexpress"></div>
        <div class="inq-sendexpress">寄快递</div>
      </li>
      <li class="inq-priceandtime">
        <div class="inq-priceandtime"></div>
        <div class="inq-priceandtime">时长和价格</div>
      </li>
      <li>
        <div></div>
        <div>国际快递</div>
      </li>
      <li>
        <div></div>
        <div>网点和电话</div>
      </li>
    </ul>
  </section>
  <section class="inq-product">
    <h3>
      <span>快递100产品大全</span>
    </h3>
    <ul>
      <li>
        <div></div>
        <div>
          <h4>快递100APP</h4>
          <p>寄快递，查快递一键搞定</p>
        </div>
      </li>
      <li>
        <div></div>
        <div>
          <h4>快递100收件端</h4>
          <p>为快递员打造的收派一体化APP</p>
        </div>
      </li>
      <li>
        <div></div>
        <div>
          <h4>云打印产品</h4>
          <p>让电子面单打印更方便</p>
        </div>
      </li>
      <li>
        <div></div>
        <div>
          <h4>快递管家</h4>
          <p>微商打单发货、物流跟踪</p>
        </div>
      </li>
      <li>
        <div></div>
        <div>
          <h4>API接口</h4>
          <p>帮助网站、系统和APP集成快递100各项服务</p>
        </div>
      </li>
    </ul>
  </section>
  <section class="inq-footer">
    <p>
      <a>下载APP</a><a class="inq-onwechart">关注微信</a>
    </p>
    <p>
      <a>
        <img src="/images/logo_footer.png" alt="">
      </a>
      粤ICP备14085002号-5 
    </p>
  </section>
  <div class="inq-wechart">
    <div>
      <img src="/images/qr_sjd.jpg" alt="">
      <p>长按二维码保存至相册</p>
      <p>微信识别二维码关注快递100公众号</p>
    </div>
  </div>
</div>

