<div class="price-page">
  <div class="price-tit">
    <div class="yo-ico" id="price-back">&#xe679;</div>
    <div>时效价格</div>
    <div class="yo-ico" id="price-menu">&#xe684;</div>
  </div>
  <div class="price-home">
    <ul>
      <li class="active">
        <div>
          <i class="yo-ico">&#xe65c;</i>
        </div>
        <div>
          <b>回到首页</b>
        </div>
      </li>
      <li>
        <div>
          <i class="yo-ico">&#xe671;</i>
        </div>
        <div>
          <b>寄快递</b>
        </div>
      </li>
      <li>
        <div>
          <i class="yo-ico">&#xe729;</i>
        </div>
        <div>
          <b>更多功能</b>
        </div>
      </li>
      <li>
        <div>
          <i class="yo-ico">&#xe7d5;</i>
        </div>
        <div>
          <b>个人中心</b>
        </div>
      </li>
    </ul>
  </div>
  <div class="price-area">
    <section>
      <div  class="price-send">
        <div class="price-send"></div>
        <div class="price-send">
          请选择起始地址
        </div>
      </div>
      <div  class="price-get">
        <div  class="price-get"></div>
        <div  class="price-get">
          请选择目的地址
        </div>
      </div>
      <div>
        <div>重量</div>
        <div>
          <input type="text" value="0.5">
          <div>公斤</div>
        </div>
        <div>
          <i class="yo-ico" id="price-g-reduce">&#xe768;</i>
          <i class="yo-ico" id="price-g-add">&#xe767;</i>
        </div>
      </div>
      <div>
        <div>寄件时间</div>
        <div class="price-time">
          2018-10-13 10:40
        </div>
      </div>
      <div>
        <div class="price-chaxun">查询</div>
      </div>
    </section>
    <div class="price-notice">
      由快递100大数据预测，结果仅供参考
    </div>
    <section class="price-company">
      <ul class="price-g-company">
        <!-- {{#each list}}
        <li>
          <div></div>
          <div>
            <h3>EMS
              <em>最快</em>
              <em>便宜</em>
            </h3>
            <div>预计1天可到达 | 暂无价格</div>
          </div>
          <div class="yo-ico">&#xe6a3;</div>
        </li>
        {{/each}} -->
      </ul>
    </section>

  </div>
  <div class="price-address">
    <div>
      <div class="price-a-reset">取消</div>
      <div class="price-a-ok">确定</div>
    </div>
    <div>
      <div></div>
      <div></div>
      <div></div>
      <div class="price-where">
        <div class="price-province-y">
          <ul class="price-province"></ul>
        </div>
        <div class="price-city-y">
          <ul class="price-city"></ul>
        </div>
        <div class="price-xian-y">
          <ul class="price-xian"></ul>
        </div>
      </div>
    </div>
  </div>
</div>