<div class="profile_mine">
  <div class="profile_avatar"></div>
  <div class="profile_infos">
    <p>未登录</p>
    <p>
      <span>登录后享受更多特权</span>
    </p>
  </div>
</div>
<div class="profile_menu-list">
  <ul>
    <li class="profile_badge">
      <div class="profile_ico profile_point"></div>
      <div class="profile_line">
        <div>积分</div>
      </div>
    </li>
    <li>
      <div class="profile_ico profile_coupon"></div>
      <div class="profile_line">
        <div>我的卡券</div>
      </div>
    </li>
  </ul>
  <ul>
    <li>
      <div class="profile_add profile_ico"></div>
      <div class="profile_line">
        <div>我的寄件</div>
      </div>
    </li>
    <li>
      <div class="profile_query profile_ico"></div>
      <div class="profile_line">
        <div>我的查件</div>
      </div>
    </li>
    <li>
      <div class="profile_addr profile_ico"></div>
      <div class="profile_line">
        <div>地址管理</div>
      </div>
    </li>
  </ul>
  <ul>
    <li class="badge">
      <div class="profile_mess profile_ico"></div>
      <div class="profile_line">
        <div>消息中心</div>
      </div>
    </li>
    <li>
      <div class="profile_help profile_ico"></div>
      <div class="profile_line">
        <div>帮助中心</div>
      </div>
    </li>
    <li class="profile_uDeskTarget">
      <div class="profile_svc profile_ico"></div>
      <div class="profile_line">
        <div>在线客服</div>
      </div>
    </li>
    <li>
      <div class="profile_about profile_ico"></div>
      <div class="profile_line">
        <div>关于我们</div>
      </div>
    </li>
  </ul>
</div>